page-home {
	.toolbar-background {
	  background-image: url('../../../assets/imgs/bg_page_2.png');
	  background-color: #01a3a4;
	}

	.notify{
		padding: 10px;
	}

	.unseen-notify{
		
		background-color : #E2F7FF;
	}
}
